<div class="container">
  <div class="border-start border-4 ps-3">
    <p><%= @answer %></p>
    <p><em>- You</em></p>
  </div>

  <div class="border-start border-4 ps-3 bg-warning bg-opacity-10">
    <p><strong>
      <%= @result %>
    </strong></p>
    <p><em>- Coach</em></p>
  </div>
  <%= link_to "Go back to ask", "/ask" %>
</div>
<%# <a href="/ask">Go back to ask</a> %>
